# Build output
dist/
test/testBuild

# Node modules folder
node_modules/


# Internal manifests
manifest.ll.xml

#various
wordplugin.code-workspace
index.html
3rdpartysrc/
onlinekommentar-mcp-main/
.clinerules